<h1>Cart</h1>
<div class="containerAllProducts">
{{#each payload}}
  <div class="containerProduct">
    <h3>{{this.name}}</h3>
    <p class="productDescription">{{this.description}}</p>
    <p>Price: ${{this.price}}</p>
    <p>Quantity: {{this.quantity}}</p>
  </div>
  
{{/each}}
</div>
<form action="/api/carts/finalizar" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Finalizar Compra</button>
</form>
