<h2>Recuperar contraseña</h2>

<form method="post" action="/forgotpassword" id="forgotPasswordForm">
  <label for="">Correo</label>
  <input type="email" name="email">

  <button type="submit">Recuperar contraseña</button>
</form>

<div>
    <a href="/login">Login</a>
</div>
<script src="/js/forgotPassword.js"></script>