<h2>Login</h2>

<form action="/products" method="POST" id="loginForm">
  <label for="">Usuario</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit" >Iniciar sesión</button>
</form>

<div>
  <a href="/forgotPassword">Olvide mi contraseña</a>
</div>
<div>
  <a href="/auth/github">Ingresar con GitHub</a>
  <a href="/signup" id="a" >Registrarse</a>
</div>

<script src="/js/login.js"></script>