<h2>Login</h2>

<form action="/products" method="POST" id="loginForm">
  <label for="">Usuario</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit" >Iniciar sesión</button>
</form>

<div class="containerRedirectionLogin">
  <a href="/forgotPassword" class="redireccion">Olvide mi contraseña</a>
  <a href="/auth/github" class="redireccion">Ingresar con GitHub</a>
  <a href="/signup" class="redireccion">Registrarse</a>
</div>

<script src="/js/login.js"></script>