
<h1>Restablecer contraseña</h1>
<form action="/auth/restablecer-contrasena/{{token}}" method="POST">
    <label>Nueva contraseña</label>
    <input type="password" name="password">
    <button type="submit" >cambiar</button>

</form>